<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <nav class="bg-indigo-600 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <ul class="flex space-x-8">
            <li>
                <a href="#" class="text-white hover:text-gray-300">Home</a>
            </li>
            <li>
                <form action="{{ url_for('logout') }}" method="post">
                    <button type="submit" class="text-white hover:text-gray-300" onclick="return confirm('Are you sure you want to log out?')">Logout</button>
                </form>
            </li>
            <li>
                <form action="{{ url_for('delete_account') }}" method="post">
                    <button type="submit" class="text-white hover:text-gray-300" onclick="return confirm('Are you sure you want to delete your account?')">Delete Account</button>
                </form>
            </li>
        </ul>
    </div>
  </nav>

</body>

</html>
